/*          Here we import font family          */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
/* font-family:"Raleway", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-family:"Poppins", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
/* font-family:"Roboto", sans-serif; */


/*          Here we create all variable          */
:root{

    /* font-family */
    --ff-heading:"Poppins", sans-serif;
    --ff-text:"Roboto", sans-serif;
    --ff-nav:"Raleway", sans-serif;
    --ff-default:"Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    /* color */
    --default-clr:#444444;
    --heading-clr:#2c4964;
    --contrast-clr:#ffffff;
    --background-clr:#1977cc;

    /* font-weight */
    --fw-400:400;
    --fw-500:500;
    --fw-600:600;
    --fw-700:700;

    /* font-size */
    --fs-30:30px;
    --fs-15:15px;
    --fs-48:48px;
    --fs-24:24px;
    --fs-logo:30px
    --fs-navlist:17px
    --fs-icon:20px
    --fs-34:34px;
    /* Padding */
}

/*          Remove Default CSS          */

*,*::before,*::after {
    box-sizing: border-box;
}
/* Box sizing rules */

body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{
  margin: 0;
}
/* Remove default margin */

h1,h2,h3,h4,h5,h6{
    color: var(--heading-clr);
    font-family: var(--ff-heading);
    letter-spacing: 0.0125rem;

}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}
a{
    cursor: pointer;
    text-decoration: none;
}
  
/* Make images easier to work with */
img,picture {
    max-width: 100%;
    display: block;
}
  
/* Inherit fonts for inputs and buttons */
input,button,textarea,select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

.container{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

.header-section{
    min-height: 60px;
    padding: 0px;
    background-color: var(--contrast-clr);
    box-shadow: 0px 0px 10px #868282;
}
.navbar{
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1 a{
    font-size: 30px;
    letter-spacing: 0.0125rem;
    color: var(--heading-clr);
    font-family: var(--ff-heading);
}
.menu-container{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.media-navbar{
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.media-navbar li,.nav-list li{
    margin: 5px 0px 0px 40px;
    font-family: var(--ff-nav);
}
.media-navbar li a,.nav-list li a{
    font-weight: var(--fw-500);
    color: var(--heading-clr);
}
.media-navbar li:first-child{
    margin-left: 0px;
}
.appointment-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.appointment-section button{
    font-size: 14px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 6px 22px;
    color: var(--contrast-clr);
    background-color: var(--background-clr);
    font-family: var(--ff-default);
}
.menuIcon-container{
    display: none;
}
.menu-container i{
    cursor: pointer;
    font-size: 20px;
}
.menu-container .fa-bars{
    transition: all 0.3s ease-in;
    transform: rotate(360deg);
}
.menu-container .fa-xmark{
    transition: all 0.3s ease-in;
    transform: rotate(90deg);
}
/* End of Navbar */

.hero-section{
    height: fit-content;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./images/hero-bg.jpg);
}
.hero-wrapper{
    padding: 50px 10px 50px;
}
.hero-info{
    margin-top: 50px;
}
.hero-info h2{
    margin-top: 20px;
    font-size: var(--fs-48);
}
.hero-info p{
    margin-top: -8px;
    color: #444444;
    font-size: var(--fs-24);
    font-family: var(--ff-default);
}
.card-wrapper{
    display: flex;
    margin-top: 50px;
    align-items: center;
}
.main-card{
    width:70%;
    padding:30px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-clr);
}
.main-card h3{
    font-size: 34px;
    margin-bottom: 30px;
    letter-spacing: 0.025rem;
    color: var(--contrast-clr);
}
.main-card p{
    margin-bottom: 30px;
    text-align: justify;
    letter-spacing: 0.005rem;
    color: var(--contrast-clr);
    font-family: var(--ff-default);
}
.main-card .main-card-btn button{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 6px 25px 8px;
    background-color: rgb(255, 255, 255, 0.3);
}

.main-card .main-card-btn button a{
    color: #ffffff;
    font-size: 16px;
    font-family: var(--ff-default);
}

.main-card .main-card-btn button i{
    margin-left: 5px;
    color: var(--contrast-clr);
}

.child-card-parent{
    display: flex;
}

.card_2,.card_3,.card_4{
    padding: 20px;
    min-width:30%;
    margin-left: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(255, 255, 255,0.8);
}
.fa-calendar-week,.fa-gem,.fa-inbox{
    font-size: 35px;
    color: var(--background-clr);
}

.card_2 h4,.card_3 h4,.card_4 h4{
    font-size: 20px;
    margin: 10px 0px 20px;
}

.card_2 p,.card_3 p,.card_4 p{
    font-size: 15px;
    color: #868282;
    margin: 0px 0px 16px;
    font-family: var(--ff-default);
}




@media (min-width: 992px) and (max-width: 1200px) { 
    .media-navbar li,.nav-list li{
        margin-left: 25px;
    }
    .appointment-section{
        margin-left: 30px;
    }
    /* End of Navbar */
}
/* Apply styles for laptops devices */

@media (min-width: 769px) and (max-width: 991px) { 
    .header-section{
        padding: 10px;
    }
    .nav-list{
        left: 0;
        top: 50px;
        width: 100%;
        display: flex;
        position: absolute;
        padding-left: 20px;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
        background-color: aquamarine;
        border-bottom: 0.5px solid #2c4964;

    }
    .media-navbar{
        left: -100%;
        top: 50px;
        width: 100%;
        display: flex;
        position: absolute;
        padding-left: 20px;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
        border-bottom: 0.5px solid #2c4964;
    }
    .nav-list li,.media-navbar li{
        padding: 10px 0px;
        margin-left: 0px;
        font-weight: var(--fw-500);
        font-family: var(--ff-nav);
        font-size: var(--fs-navlist);
    }
    .appointment-section{
        margin-left: 30px;
    }
    .menuIcon-container{
        display: block;
        margin-left: 25px;
        width: 30px;
    }
    /* End of Navbar */
}
/* Apply styles for ipads & Tablets devices */

@media (min-width: 480px) and (max-width: 768px) {
    .header-section{
        padding: 10px 24px;
    }
    .nav-list{
        left: 0;
        top: 50px;
        width: 100%;
        display: flex;
        position: absolute;
        padding-left: 34px;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
        border-bottom: 0.5px solid #2c4964;
        background-color: aquamarine;
    }
    .media-navbar{
        left: -100%;
        top: 50px;
        width: 100%;
        display: flex;
        position: absolute;
        padding-left: 34px;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
        border-bottom: 0.5px solid #2c4964;
        background-color: aquamarine;
    }
    .nav-list li,.media-navbar li{
        padding: 10px 0px;
        margin-left: 0px;
        font-weight: var(--fw-500);
        font-family: var(--ff-nav);
        font-size: var(--fs-navlist);
    }
    .appointment-section button{
        display: block;
    }
    .menuIcon-container{
        display: block;
        margin-left: 25px;
        width: 30px;
    }
    /* End of Navbar */
}
/* Apply styles for ipads & Tablets devices */

 @media (min-width: 320px) and (max-width: 479px){
    .header-section{
        padding: 10px;
    }
    .nav-list{
        left: 0;
        top: 50px;
        width: 100%;
        display: flex;
        position: absolute;
        padding-left: 20px;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
        border-bottom: 0.5px solid #2c4964;
        background-color: aquamarine;
    }
    .media-navbar{
        left: -100%;
        top: 50px;
        width: 100%;
        display: flex;
        position: absolute;
        padding-left: 20px;
        flex-direction: column;
        transition: all 0.2s ease-in-out;
        border-bottom: 0.5px solid #2c4964;
        background-color: aquamarine;
    }
    .nav-list li,.media-navbar li{
        padding: 10px 0px;
        margin-left: 0px;
        font-weight: var(--fw-500);
        font-family: var(--ff-nav);
        font-size: var(--fs-navlist);
    }
    .appointment-section button{
        display: none;
    }
    .menuIcon-container{
        display: block;
        margin-left: 25px;
        width: 30px;
    }
    /* End of Navbar */
 }
/* Apply styles for Mobile Devices */
